@import url('https://fonts.cdnfonts.com/css/new-walt-disney-font');

body{
    background-color: purple;
    justify-content: center;

}
.heading{
    color: #b80000;
    font-family: 'New Walt Disney Font', sans-serif;
    border: 2px solid #fccb00;
    border-radius: 360px;
    border-width: 20px;
    background-color: #fccb00;
    font-size: 34px;

                                                
}
.form-group{
    color: white;
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: 34px;
    
}


.row{
    border: 2px solid #5c2c76;
    justify-content: center;
    width: 100%;
    background-color:#5c2c76;
    border-radius: 360rem;
    border-width: 20px;

}

.table-heading{
    background-color: grey;
}
.mb-2.mb-2{
    position: relative;
    margin-left: 47%;
    margin-top: 5px;
    background-color: yellow;
    width:fit-content;
    font-family: 'New Walt Disney Font', sans-serif;
    font-weight: 800;
    border-radius: 360rem;
    border-width: 200px;
}
.btn{
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: 34px;
}
.table{
    font-size: 20px;
}
